.metadata
.classpath
.project
.settings

.gradle

build
bin

.idea/
*/out/**

gizmo/jni/build*.xml
gizmo/jni/jni-headers
gizmo/jni/target
gizmo/jni/*.c
gizmo/jni/*.cpp
gizmo/jni/*.h
gizmo/jni/*.mk
gizmo/jni/robovm.xml

gizmo/libs/*
log.txt
fixperms.sh
obj
